.text {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 8cqmin solid transparent;
	& > *:first-child {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2cqmin;
		& > *:first-child {
			font-size: 8cqmin;
		}
		& > *:nth-child(3) {
			font-size: 150%;
			word-break: break-all;
		}
	}
}