.wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;


	&::before {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		content: '';
		backdrop-filter: blur(2px);
		background-color: rgba(white, 0.7);
		z-index: 1;
	}

	& > *:last-child {
		z-index: 2;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		display: flex;
		align-items: center;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		font-size: 15cqmin;
		& > * {
			font-size: 50%;
		}
	}

}