.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2147483647;
	pointer-events: none;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	color: black;
	text-align: center;
	border: 10vmin solid transparent;
	font-size: 110%;
	white-space: pre-wrap;
	gap: 20px;

	border-left-width: 40vmin;
	border-right-width: 40vmin;
	b {
		font-weight: 500;
		display: inline-block;
	}
	& > *:first-child {
		height: 60%;
		background-size: 100%;
		filter: brightness(0);
		margin-bottom: 16px;
		transform: translateX(14px);
		background-repeat: no-repeat;
		background-image: url('rotate.svg');
		transform: rotate(-90deg);
	}
	.header {
		font-size: 130%;
		font-weight: 500;
		margin-bottom: 8px;
	}
}
