.textWithButtons {
	display: flex;
	pointer-events: all;
	flex-direction: column;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 8cqmin solid transparent;


	& > *:first-child {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2cqmin;
		& > *:nth-child(1) {
			font-size: 10cqmin;
		}
		& > *:nth-child(2) {
			font-size: 5cqmin;
		}
	}

	& > *:last-child {
		gap: 4cqh;
		display: flex;
		flex-direction: column;
	}
}