.wrapper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	padding: 20px;
	gap: 32px;
}

.fieldWrapper {
	flex: 1;
	position: relative;
}

.field {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	max-height: 100%;
	max-width: 100%;
}


.buttons {
	gap: 20px;
	display: flex;
	flex-direction: column;
}

@media screen and (orientation:portrait) {
	.wrapper {
		flex-direction: column;
	}
	.field {
		margin-left: auto;
		margin-right: auto;
	}
}


@media screen and (orientation:landscape) {
	.wrapper {
		flex-direction: row;
	}
	.buttons {
		justify-content: flex-end;
	}
}