.bar {
	display: grid;
	grid-template-columns: 1fr 10fr;


	& > *:nth-child(1) {
		grid-column: 2;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		& > * {
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1/1;
		}
	}

	& > *:nth-child(2) {
		grid-row: 2;
		& > * {
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1/1;
		}
	}

}



.field {
	display: grid;
	grid-template-columns: repeat(10, 1fr);

	touch-action: none;

	// 

	position: relative;


	&::before {
		content: '';
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		position: absolute;
		border: 4px solid blue;
		border-radius: 0px;
	}

	& > * {
		// display: flex;
		// align-items: center;
		// justify-content: center;
		// align-content: center;
		// aspect-ratio: 1/1;
		position: relative;
		// &::before {
		// 	content: '';
		// 	top: 0px;
		// 	left: 0px;
		// 	right: 0px;
		// 	bottom: 0px;
		// 	position: absolute;
		// 	// border: 1px solid red;
		// }
	}

	// & > *:nth-child(-n+11):not(:first-child) {
	// 	// border: 1px solid blue;
	// 	border-bottom: 3px solid red;
	// }

	// & > *:nth-child(n+112) {
	// 	border-bottom: 3px solid red;
	// }

	// & > *:nth-child(11n+1):not(:fis) {
	// 	border-right: 3px solid red;
	// }


	// & > *:nth-child(n+12):not(:nth-child(11n+1)) {
		
	// 	&::before {
	// 		content: '';
	// 		top: 0px;
	// 		left: 0px;
	// 		right: 0px;
	// 		bottom: 0px;
	// 		position: absolute;
	// 	}




	// }


	@mixin ship {
		z-index: 1;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		&.hit::before { content: 'x'; }

	}

	.one {
		@include ship;
		border: 3px solid blue;
	}

	.verStart {
		@include ship;
		border-left: 3px solid blue;
		border-right: 3px solid blue;
		border-top: 3px solid blue;
	}

	.verEnd {
		@include ship;
		border-left: 3px solid blue;
		border-right: 3px solid blue;
		border-bottom: 3px solid blue;
	}

	.horStart {
		@include ship;
		border-left: 3px solid blue;
		border-bottom: 3px solid blue;
		border-top: 3px solid blue;
	}

	.horEnd {
		@include ship;
		border-top: 3px solid blue;
		border-bottom: 3px solid blue;
		border-right: 3px solid blue;
	}

	.verCenter {
		@include ship;
		border-left: 3px solid blue;
		border-right: 3px solid blue;
	}


	.horCenter {
		@include ship;
		border-top: 3px solid blue;
		border-bottom: 3px solid blue;
	}

	&.enemy .ship:not(.hit) {
		display: none;
	}


}