.field {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	touch-action: none;

	flex: 1;

	& > * {
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
		position: relative;
	}

	& > *:nth-child(-n+11) {
		border: 1px solid blue;
	}

	& > *:nth-child(11n+1) {
		border: 1px solid lime;
	}


	& > *:nth-child(n+12):not(:nth-child(11n+1)) {
		
		&::before {
			content: '';
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			position: absolute;
			border: 1px solid red;
		}




	}



	@mixin ship {
		z-index: 1;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		&.hit::before { content: 'x'; }

	}

	.one {
		@include ship;
		border: 3px solid blue;
	}

	.verStart {
		@include ship;
		border-left: 3px solid blue;
		border-right: 3px solid blue;
		border-top: 3px solid blue;
	}

	.verEnd {
		@include ship;
		border-left: 3px solid blue;
		border-right: 3px solid blue;
		border-bottom: 3px solid blue;
	}

	.horStart {
		@include ship;
		border-left: 3px solid blue;
		border-bottom: 3px solid blue;
		border-top: 3px solid blue;
	}

	.horEnd {
		@include ship;
		border-top: 3px solid blue;
		border-bottom: 3px solid blue;
		border-right: 3px solid blue;
	}

	.verCenter {
		@include ship;
		border-left: 3px solid blue;
		border-right: 3px solid blue;
	}


	.horCenter {
		@include ship;
		border-top: 3px solid blue;
		border-bottom: 3px solid blue;
	}

	&.enemy .ship:not(.hit) {
		display: none;
	}


}