@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	align-items: center;
	gap: 10px;
	color: white;
	background-color: var(--color);
	& > *:nth-child(2) {
		font-family: 'Roboto', sans-serif;
		padding-top: 18px;
		padding-bottom: 18px;
		font-size: 5vw;
		font-weight: 500;
		flex: 1;
	}

	& > *:first-child,
	& > *:last-child {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		height: 100%;
		aspect-ratio: 1/1.25;
		font-weight: bolder;
		filter: brightness(0) invert(1);
	}
}

.content {
	flex: 1;
	position: relative;
}

.navigation {
	background-color: rgba(black, 0.8);
	color: white;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	gap: 10vw;
	font-size: 5vw;
	& > * {
		width: 50px;
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
	}
}