$borderSize: 3px;
$borderRadius: 4px;

@mixin absolute($offset: 0) {
	top: $offset;
	left: $offset;
	right: $offset;
	bottom: $offset;
	position: absolute;
}

@mixin ship($top, $left, $right, $bottom, $tlr, $trr, $blr, $brr) {
	&::after {
		content: '';
		@include absolute;
		border-top-left-radius: ($tlr * $borderRadius);
		border-top-right-radius: ($trr * $borderRadius);
		border-bottom-left-radius: ($blr * $borderRadius);
		border-bottom-right-radius: ($brr * $borderRadius);
		border-top: ($top * $borderSize) solid currentColor;
		border-left: ($left * $borderSize) solid currentColor;
		border-right: ($right * $borderSize) solid currentColor;
		border-bottom: ($bottom * $borderSize) solid currentColor;
	}
}

.field {
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: 1fr 10fr;
	aspect-ratio: 1/1;
	& > * > * {
		aspect-ratio: 1/1;
		position: relative;
	}
}

.field > *:nth-child(1) {
	display: grid;
	grid-row: 2;
	grid-column: 1;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	container-type: size;
	& > * {
		font-size: 50cqw;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 15cqw;
	}
}

.field > *:nth-child(2) {
	display: grid;
	grid-column: 2;
	grid-row: 1;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	container-type: size;
	& > * {
		font-size: 50cqh;
		display: flex;
		line-height: 50cqh;
		align-items: flex-end;
		justify-content: center;
		padding-bottom: 15cqh;
	}
}

.field > *:nth-child(3) {
	display: grid;
	grid-row: 2;
	grid-column: 2;
	aspect-ratio: 1/1;
	background-color: white;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	touch-action: none;
	position: relative;
	overflow: hidden;
	border-radius: $borderRadius;
	&::before {
		content: '';
		@include absolute;
		border-radius: $borderRadius;
		border: $borderSize solid currentColor;
	}
	.status {
		z-index: 1;
		@include absolute($borderSize);
		backdrop-filter: blur(1px);
		background-color: rgba(black, 0.1);
		display: flex;
		align-items: center;
		justify-content: center;
		container-type: size;
		& > * {
			// border: $borderSize solid currentColor;
			position: relative;
			// background-color: rgba(white, 0.9);
			// border-radius: 8px;
			// padding: 2%;
			max-width: 80%;
			text-align: center;
			font-size: 5cqw;
		}
	}
}





.field:not(.enemy) {
	pointer-events: none;
}

.field.enemy .ship:not(.hit) {
	opacity: 0;
}






.ship.one {
	@include ship(1, 1, 1, 1, 1, 1, 1, 1);
}

.ship.verStart {
	@include ship(1, 1, 1, 0, 1, 1, 0, 0);
}

.ship.verEnd {
	@include ship(0, 1, 1, 1, 0, 0, 1, 1);
}

.ship.horStart {
	@include ship(1, 1, 0, 1, 1, 0, 1, 0);
}

.ship.horEnd {
	@include ship(1, 0, 1, 1, 0, 1, 0, 1);
}

.ship.verCenter {
	@include ship(0, 1, 1, 0, 0, 0, 0, 0);
}

.ship.horCenter {
	@include ship(1, 0, 0, 1, 0, 0, 0, 0);
}


.ship.hit > * {
	@include absolute;
	mask-image: var(--maskImage);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: var(--maskSize);
	background-color: currentColor;
	transform-origin: 50% 50%;
}

.sea > * {
	@include absolute;
	mask-image: var(--maskImage);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: var(--maskSize);
	background-color: currentColor;
	transform-origin: 50% 50%;
}